<!DOCTYPE html>
<html>
<head>
	<title>De brevitate vitae</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
	
</head>

<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">May Mois</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>De brevitate vitae</h2>
		<ul>
			<li><a href="#bliss">reeling in thy bliss<div class="number">1</div></a></li>
			<li><a href="#silk">Lovely silk and lingering feelings<div class="number">2</div></a></li>
			<li><a href="#shimmering">Once, shimmering<div class="number">3</div></a></li>
			<li><a href="#thighs">and the inside of your thighs<div class="number">4</div></a></li>
			<li><a href="#monsters">and all the monsters<div class="number">5</div></a></li>
			<li><a href="#youtouched">and as you touched me<div class="number">6</div></a></li>
			<li><a href="#touchme">Touch me<div class="number">7</div></a></li>
			<li><a href="#stardust">Stardust<div class="number">8</div></a></li>
			<li class="subcollection"><a href="#college"><div class="subcollection">College<div class="number">9-10</div></div></a>
				<ul class="itemssubc">
					<li><a href="#college">Environmental Theology<div class="number">9</div></a></li>
					<li><a href="#learn">I learn<div class="number">10</div></a></li>
				</ul>
			</li>
			<li><a href="#art">Modern art<div class="number">11</div></a></li>
			<li class="subcollection"><a href="#colours"><div class="subcollection">Colours<div class="number">12-13</div></div></a>
				<ul class="itemssubc">
					<li><a href="#colours">White<div class="number">12</div></a></li>
					<li><a href="#rosy">Rosy<div class="number">13</div></a></li>
				</ul>
			</li>
			<li class="subcollection"><a href="#dreams"><div class="subcollection">Dreams of my darling, pt.1-8<div class="number">14-21</div></div></a>
				<ul class="itemssubc">
				<li><a href="#dreams">I dream of you<div class="number">14</div></a></li>
				<li><a href="#think">I think of you<div class="number">15</div></a></li>
				<li><a href="#know">I know you<div class="number">16</div></a></li>
				<li><a href="#see">I see you<div class="number">17</div></a></li>
				<li><a href="#feel">I feel you<div class="number">18</div></a></li>
				<li><a href="#love">I love you<div class="number">19</div></a></li>
				<li><a href="#got">I got you<div class="number">20</div></a></li>
				<li><a href="#miss">I miss you<div class="number">21</div></a></li>
				</ul>			
			</li>
		</ul>
		<div class="poem" id="bliss">
			<h3>reeling in thy bliss</h3>
			<!--If I believed in karma,
			<br>I might have said that nuzzling into her velvet skin made me realize what I have suffered for.
			<br>I don’t.-->
			<img src="../images/quote1.png" class="inside" alt="If I believed in karma, I might have said that nuzzling into her velvet skin made me realize what I have suffered for. I don’t.">
			<br>***
			<br>I plead for entry at her lips,
			<br>Starving for her like a dying one
			<br>for another breath. She only weeps
			<br>at my gloomy song, a caravan
			<br>of my thoughts falling into silence
			<br>as our tongues intertwine 
			<br>with our souls. No finesse,
			<br>just two beings holding on to signs 
			<br>of life in each other. Drowning 
			<br>in her sweetest noises, I reach 
			<br>down to her lips. She’s vowing
			<br>that this moment is eternity. Peach 
			<br>lipstick stains my teeth as we 
			<br>drink each other in. She tastes 
			<br>of chemical fruits, green tea
			<br>and slightly of the constricting lace 
			<br>of others’ expectations. Love
			<br>is too grandeur a thing. She sighs 
			<br>when she lets go of her suave
			<br>and artificial posture. Lies 
			<br>are not to be shared this very night. 
			<br>
			<br>I gently run my finger through 
			her<br> atlas fullness. Her light 
			<br>feathery touches die off too soon
			<br>as she closes her eyes. Her melody
			<br>fills the room and completes me.
			<br>
			<br>I whisper to her, “Carpe diem,”
			<br>and kiss the silk of her skin
			<br>everywhere I can reach. My tongue
			<br>is salty and a touch sour.
			<br>But to me it never feels wrong, 
			<br>she gets sweeter by the hour
			<br>(and more loved by the second).
			<br>
			<br>I sip her nectar and relish
			<br>in her ecstasy. She reckons
			<br><i>I love her pleasure,</i> to embellish, 
			<br><i>more than mine.</i> There is truth 
			<br>to her words. Directions
			<br>start  to mix. I try to sooth 
			<br>her mind with kisses of intention. 
			<br>
			<br>She fills my world with her own
			<br>smell and song, enchanting
			<br>and delicate. The hardest stone
			<br>resonates with desire. Inviting,
			<br>her love captivates me, grasps
			<br>in its hold. I am willing. 
			<br>Honey-thick seizures stop. I cast 
			<br>a glimpse at her bitten lip. Reeling
			<br>in my drunkenness on her I kiss it better.
			<br>
			<br>From believing and her, I have chosen the latter.
			<br>***
			<br>If I believed there was a deity, I would have said that kissing her was heaven and should I be sent to hell for loving her, I would have repeated every moment with her twice. 
			<br><div class="date">Last edit October 17<sup>th</sup> 2016</div>
		</div>
		<div class="poem" id="silk">
			<h3>Lovely silk and lingering feelings</h3>
			It's the caramel you have yearned 
			<br>for for three years now. You still
			<br>cannot believe you have earned
			<br>or, rather, been granted the thrill
			<br>and the right to taste it. Your bright 
			<br>eyes scream of inexperience, darling
			<br>You tilt your head, lick a stripe
			<br>over wettening heated sugar, starving,
			<br>watching the dance of the adored. 
			<br>You want to do what is good, but you
			<br>don't know the difference between the core 
			<br>and the details. I'll tell you the truth;
			<br>listen, girl, no one knows the border 
			<br>between good and bad either. 
			<br>Do it in strict and yet gentle order. 
			<br>Just say you will love her,
			<br>feel it completely in your very soul
			<br>and kiss the sweetest spot 
			<br>with the very tip of your finger. 
			<br>Don't start treating her like a role 
			<br>in a play, that is the worst of the lot
			<br>and it never works, only lingers.
			<br>Catch her song with your lips, 
			<br>listen to it intently and well;
			<br>one time it will save you from hell,
			<br>other times your soliloquy will be sips
			<br>of the coffee you will make
			<br>tomorrow morning.
			<br>You can see the icing coming off the cake
			<br>and you see an ocean, not a warning.
			<br>You are still young, love, please ignore 
			<br>all the signs on the beach, on shore
			<br>and drown in the sea of delight. 
			<br>Dip your little finger and revel
			<br>At the sweet noises and sweeter yet sight.
			<br>You are not seduced by a devil,
			<br>dear, it is love given by wisdom. 
			<br>Athena grants you with right to love,
			<br>Aphrodite - with love as her kingdom. 
			<br>Let your fingers and tongue play like doves
			<br>and drink her in, her essence in ecstasy
			<br>and give it back as you would a kiss. 
			<br>
			<br>For now is not the time of fantasies 
			<br>as long as you're both in bliss.
			<br><div class="date">Last edit October 20<sup>th</sup> 2016</div>
		</div>
		<div class="poem" id="shimmering">
			Once, shimmering with pleasure of existence,
			<br>I poured myself a lovely glass of wine.
			<br>The weather, as it goes, was abysmal,
			<br>The worst, of course, was only yet to come. 
			<br>And as I drank the small degree of fire,
			<br>One ninth of rain and two fifths of love,
			<br>The world did all but shiver with desire,
			<br>Anticipation of and pleasure dire
			<br>That lends itself to innocently starved.
			<br>
			<br>And as I closed my eyes, she leaned in closer,
			<br>I opened them - she nearly ran away.
			<br>I smiled at her and let the sweet composer 
			<br>think through her song and how she wanted play. 
			<br>The hand... it held a glass and not a quill,
			<br>And heart just fluttered in its little cage.
			<br>I wanted not forget the loving skill, 
			<br>But rather let my wine breathe air and age
			<br>a while, and find delight in waiting,
			<br>in lust and sweet desire growing strong, 
			<br>before its peak is followed by a sating
			<br>view of my darling’s luscious skin of satin 
			<br>across my red silk sheets forever more.
			<br>
			<br>I sipped my love, not touching saccharine 
			<br>fruits from a golden vase upon the table.
			<br>Oh, let the passion simmer, sparkling wine
			<br>and summer are erasing all the labels.
			<br>And my mistake – why, grave mistake! that I
			<br>would have repeated each and every time
			<br>I found myself out of hellish cry – 
			<br>my dying wish: I looked into her eyes.
			<br>
			<br>That look of lust - and then her honeyed lips
			<br>were warm and plush against the poet’s song.
			<br>Her sky-grey eyes one second held a mist,
			<br>a moment later all the mist was gone. 
			<br>The passion that remained was as soft
			<br>and delicate as kindest bush of roses,
			<br>yet such was flame in kisses so oft 
			<br>that even writ in words it juxtaposes. 
			<br>And tenderer than velvet was her skin
			<br>that lovelier than wine felt on my tongue.
			<br>Oh, all the ways that I loved her... unseen,
			<br>unheard, undone, for me she was the world.
			<br>
			<br>I wrote the sweet adoring on her breast, 
			<br>She sang the most beautiful of songs, 
			<br>Melodious as I moved to the rest... 
			<br>A year and a day that night was long. 
			<br>
			<br>And as she lay on me, undone and spent, 
			<br>My ear caressing with her breathing sweet 
			<br>I felt my heart about to relent. 
			<br>I followed it to darkness and, content, 
			<br>I turned the street so you and I could meet.
			<br><div class="date">Last edit March 25<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="thighs">
			and the inside of your thighs felt like home 
			<br>I had never known. I break the dome 
			<br>by leaving a sadistic line of liquid 
			<br>that has you trembling. Sequence 
			<br>of our movements is the golden
			<br>ratio of life. We're intertwined. Folding
			<br>onto me, you let out a series of sighs, 
			<br>dotted with one, one, two, three and five, 
			<br>leading us both to eternity. We'll be
			<br>
			<br>forever young, my love, in this moment 
			<br>of ecstasy. For ever connected in the sonnet
			<br>of light and adoration. 
			<br>If this is sin, I'll be the devil 
			<br>of a fleeting vacation,
			<br>your happiness ephemeral, not mellow;
			<br>it has me shuddering. 
			<br>The difference staggering, 
			<br>your monologue stabs me below 
			<br>my breasts and inside my thighs. 
			<br>I lift my head and whisper, low, 
			<br>endearments that caress your life, 
			<br>your ears and skin. You're good to me,
			<br>my darling. The drag of my sini-
			<br>ster tongue leaves you undone. 
			<br>You talk, I sigh and reach down, to an unsung
			<br>pleasure of existence. You plead; 
			<br>I let you fall back and kiss my lips. 
			<br>The moment we have found: I lead 
			<br>myself to home that is inside your hips.
			<br><div class="date">Last edit May 15<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="monsters">
			“...and all the monsters are just inside your head,”
			<br>my darling, love, and all other endearments,
			<br>I say, while lying in your narrow single bed
			<br>and lying, knowing full well the figments
			<br>of imagination, haunting me, 
			<br>are just as real as these you and I,
			<br>and every bit as daunting. We
			<br>lie in bed, we’re real, limbs intertwined;
			<br>your hair on my lips; half oxn each other;
			<br>your touch fresh as your scent, oh my young lover.
			<br>You’re good for me, your gaze as soft as feathers,
			<br>obedient as wished. Your inner weather
			<br>gets tired of these storms that complicated
			<br>your mind. I whisper, “My good girl,” you’re liberated
			<br>from all these ties and strangling decisions,
			<br>so let me bring on softer, sweeter visions.
			<br><div class="date">Last edit January 18<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="youtouched">
			and as you touched me, I was one with the stars and the moon. I was forever.
			<br>***
			<br>I’ve been through the motions
			<br>of every vacant day.
			<br>And I drank all the potions 
			<br>to keep my head at bay.
			<br>One touch from you, my darling,
			<br>has rendered me aflame,
			<br>my monsters were all snarling
			<br>and I was led astray.
			<br>
			<br>I’m jealous of the stars
			<br>that give you their light,
			<br>I’m jealous of the bars
			<br>where you’re alone tonight.
			<br>
			<br>I need you in my bed,
			<br>holding me close to you.
			<br>If I could only shed
			<br>my light that’s only true
			<br>when you’re alone with me
			<br>on you, my lovely sun,
			<br>I’d feel not only free,
			<br>but settled and undone.
			<br>
			<br>I’d like to kiss your skin,
			<br>to bite your precious neck,
			<br>to see your loving grin
			<br>and pull apart your legs.
			<br>I’d like to touch and wreck...
			<br>for all the other lovers.
			<br>Carve out on my back 
			<br>initials of you, starving,
			<br>and share love with me,
			<br>my lovely hungry one.
			<br>
			<br>Then I will kiss your skin
			<br>under the daring sun.
			<br><div class="date">Last edit April 10<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="touchme">
			<h3>Touch me</h3>
			Touch me while your heady smell fills
			<br>the ridiculously tiny room, rented
			<br>for a night. Touch me while the thrill
			<br>is still in our eyes, the scented
			<br>candles keeping it ‘proper’ and consuming.
			<br>Touch me in a twin 
			<br>bed, too narrow for two souls. Fuming,
			<br>the aroma does not mask the unseen
			<br>tension; touch me. Touch me,
			<br>lying on you, sunshine
			<br>reaching between your thighs.
			<br>
			<br>Touch me and keep down the sighs
			<br>of excitement. Like a tenth-grader,
			<br>stealing your mom’s cigarette,
			<br>you don’t want to be caught. Later
			<br>we’ll be in a frantic tête-à-tête
			<br>and tongue-to-tongue. Touch me, leave
			<br>your marks on my back, while I write
			<br>a sonnet on your clavicles. Weave 
			<br>your fingers into my hair, while tight
			<br>heat surrounds my tongue. Touch me
			<br>and let it overflow, how much we
			<br>have passed. The ocean has covered
			<br>the beach, the tidal wave; I thrive.
			<br>
			<br>Touch me, my darling lover.
			<br>This is the time we’re both alive. 
			<br><div class="date">Last edit January 18<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="stardust">
			<h3>Stardust</h3>
			Your fingertips leave atoms of stardust
			<br>where you draw symbols on my back.
			<br>I know, you’re ready to combust 
			<br>with pleasure you get from the wreck
			<br>that we’ve become. We move as one,
			<br>you’re arching your spine and tilt 
			<br>your head back, so I can run
			<br>my lips and cover you and spill
			<br>kisses like raindrops. The sunshine
			<br>catches on your thighs and reaches
			<br>between them. You’re a shrine
			<br>for me to worship. The preachers
			<br>cannot teach me how to love you,
			<br>but I make a great job of it. 
			<br>The river of my tongue passes through
			<br>between your breasts and over sunlit 
			<br>stomach, to the valley of your ecstasy.
			<br>You whisper, beg for more, and I admire
			<br>you as my senior-year art project. Breathlessly 
			<br>you whisper yet again. I let your gentle fire
			<br>wash over your skin and set aflame
			<br>your thighs. You’re moaning now
			<br>and whimpering my name,
			<br>as my tidal wave tells you the vow
			<br>that you repeat to me. 
			<br>
			<br>My lovely girl, and now I set you free.
			<br><div class="date">Last edit April 18<sup>th</sup> 2017</div>
		</div>
		<h2 class="subctitle" id="college">College</h2>
		<div class="poem frstpoem" id="theology">
			<h3>Environmental Theology</h3>
			we are made of stardust, 
			<br>and I love leaving galaxies on your neck,
			<br>centered around constellations of freckles 
			<br>on your skin.
			<br>you are the night that captures me 
			<br>in worship of the moon.
			<br>I worship on my knees,
			<br>your legs surrounding me
			<br>in a sweet embrace.
			<br>your moans are my hymns.
			<br>you say my name like a mantra,
			<br>like a prayer,
			<br>as I drink from your spring.
			<br>in a kenotic spree,
			<br>you shake
			<br>and give your all to me;
			<br>I drink you in, 
			<br>and as I kiss you,
			<br>I share your divinity on my tongue.
			<br><br>your lips are my salvation. 
			<br><div class="date">Last edit April 20<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="learn">
			<h3>I learn</h3>
			I learn so much
			<br>from studying you.
			<br>
			<br>I learn your deepest secrets 
			<br>from sitting on the kitchen floor
			<br>and listening to you,
			<br>while eating ice cream 
			<br>that’s already melted around the edges
			<br>of an imperfect sphere.
			<br>
			<br>I learn your hidden desires 
			<br>by holding onto you
			<br>and kissing your less-than-pristine neck
			<br>and listening to you.
			<br>As you can’t hold it in
			<br>and whisper through your moans
			<br>what you want,
			<br>where and how;
			<br>I learn, and note,
			<br>and remember.
			<br>
			<br>I learn your softer side 
			<br>as I wake up in one bed with you 
			<br>and watch your eyes open,
			<br>slowly,
			<br>tenderly. 
			<br>You smile at me and 
			<br>mess my hair up,
			<br>as you leave the smallest kiss
			<br>on my cheek,
			<br>not a care in the world
			<br>except for morning breath.
			<br>
			<br>I learn your darker side 
			<br>as you fight with your mother,
			<br>all claws and teeth
			<br>and words that burn. 
			<br>I never want to fight with you,
			<br>but I know
			<br>what I should do
			<br>when you let the shadow out.
			<br>
			<br>I learn new languages  
			<br>as I lick unknown letters
			<br>into your skin.
			<br>
			<br>I learn about new lands, 
			<br>as I map you out
			<br>with my hands and my lips;
			<br>as I explore the expanse of your skin,
			<br>I know I’ve found 
			<br>uncharted territory.
			<br>
			<br>I learn your beauty 
			<br>from watching you from across 
			<br>a hallway,
			<br>your shining smile, 
			<br>the fake one, 
			<br>that still captures my heart.
			<br>You never liked them at all,
			<br>but you laugh in a sweet way,
			<br>and oh how my heart aches
			<br>to hear the real one.
			<br>
			<br>I learn to worship 
			<br>by worshipping you,
			<br>on my knees,
			<br>above you,
			<br>in front of you,
			<br>behind you, 
			<br>between your legs,
			<br>on top of you, 
			<br>pinning you to the wall,
			<br>or holding you to the glass on the thirtieth floor;
			<br>while religion comes in all sorts of ways and forms,
			<br>mine is learning you
			<br>from all perspectives.
			<br>
			<br>I learn about the collision of two subjects 
			<br>while rolling around with you,
			<br>deciding who’s the loving one tonight.
			<br>
			<br>I learn about the sweetness of your kiss
			<br>while kissing off
			<br>powdered sugar
			<br>from your nose.
			<br>
			<br>I learn you
			<br>by studying you
			<br>until the end of my days.
			<br><div class="date">Last edit May 21<sup>st</sup> 2018</div>
		</div>
		<div class="poem" id="art">
			<h3>Modern art</h3>
			I find the sweetest liquor 
			<br>in the sounds you spill while I
			<br>leave my love marks
			<br>just below your neck. 
			<br>You catch my wrist and kiss 
			<br>it on the inside.
			<br>
			<br>I’m drunk on you and I try to stifle 
			<br>the soft giggle that’s trying to come through,
			<br>but can’t. 
			<br>Love is a funny thing,
			<br>especially when growing from desire. 
			<br>
			<br>I look again and on my wrist there’s a freckle,
			<br>as on my neck and cheeks.
			<br>You’ve left them with your kisses,
			<br>my angel,
			<br>and I ask you to never take them back
			<br>tonight. 
			<br>
			<br>We find the beauty of contemporary art 
			<br>petrifying and confusing,
			<br>yet ever-so clear. 
			<br>
			<br>Through a glassy lens
			<br>the world is seen much clearer
			<br>and everything is much more real.
			<br>
			<br>The fog of continuity and overthinking
			<br>is left to those who would deny us
			<br>the most profound of experiences.
			<br>
			<br>One day our paint will crack,
			<br>so let’s enjoy life before it wastes away.
			<br><div class="date">Last edit September 23<sup>rd</sup> 2017</div>
		</div>
		<h2 class="subctitle" id="colours">Colours</h2>
		<div class="poem frstpoem" id="white">
			<h3>White</h3>
			It was the colour of your skin,
			<br>trembling at my touch,
			<br>that mesmerised me. 
			<br>
			<br>Hands shaking, I pulled you in
			<br>to my bedroom, much
			<br>of which was only lies. Three
			<br>
			<br>o’clock was time for only us:
			<br>the school was done
			<br>and parents were
			<br>
			<br>working the hardest to surpass
			<br>what we under the sun
			<br>call simple blur
			<br>
			<br>in limits of their knowledge. 
			<br>We fell to the floor, 
			<br>laughing towards the ceiling,
			<br>
			<br>which before college
			<br>and what life had in store
			<br>seemed to be stealing
			<br>
			<br>the brightness of the light,
			<br>blinding us into bliss.
			<br>
			<br>My lips were paper-white
			<br>until I stole an even whiter kiss.
			<br><div class="date">Last edit January 31<sup>st</sup> 2018</div>
		</div>
		<div class="poem" id="rosy">
			<h3>Rosy</h3>
			A rose is not a rose but for its name,
			<br>Without the name a rose is soft to touch,
			<br>Eager to please one with a gentle smell
			<br>And easy on the eye. A rose as such
			<br>Does not exist outside of one’s perception,
			<br>A human construct ready to be laid
			<br>On any of additional conceptions
			<br>That outside of mind will quickly fade. 
			<br>
			<br>That’s why I never call my youthful lover
			<br>A rose, a waning symbol of desire; 
			<br>But rather she’s my darling, my debut.
			<br>She takes my hand and makes me go higher
			<br>Than any of my dreams could ever do.
			<br>She’s rosy, parting gentle silky gates
			<br>Of lips that here I kiss with all my passion,
			<br>Although it’s all done in the best of tastes.
			<br>
			<br>And if this love by time can be surpassed,
			<br>My lover is the first but not the last. 
			<br><div class="date">Last edit March 24<sup>th</sup> 2017</div>
		</div>
		<h2 class="subctitle" id="dreams">Dreams of my darling, pt.1-8</h2>
		<div class="poem frstpoem" id="dream">
			<h4>I dream of you</h4>
			in your narrow bed, your hand between your thighs.
			<br>Looking up at me so innocently.
			<br>You tremble as you sigh, almost contentedly 
			<br>as your hand draws circles on your breasts. 
			<br>
			<br>Your finger reaches its place.
			<br>You shiver and arch your back
			<br>And let me watch.
			<br>
			<br>You let my gaze wash over you as I sit back
			<br>and listen to your pleasure.
			<br>
			<br>You hear, “Good, my girl.
			<br>A little more,” and whimper.
			<br>
			<br>So delicious, so eager for me,
			<br>yearning to give me everything. 
			<br>
			<br>You whisper, “Please.” 
			<br>
			<br>I lick at your lips and the entrance 
			<br>to your ecstasy. 
			<br>
			<br>You shake and let out a soft moan.
			<br>And with that you are undone. 
			<br>
			<br>“Was that fine?”
			<br>“More than.”
			<br><div class="date">Last edit May 14<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="think">
			<h4>I think of you</h4>
			scrambling into the kitchen where I’m making pancakes,
			<br>wearing nothing but my flannel.
			<br>You let out a yawn and ask,
			<br>“What’s for breakfast?” 
			<br>
			<br>I want to say, “Making pancakes.”
			<br>I want to say, “What would you like?”
			<br>I want to say, “Whatever you want.”
			<br>
			<br>Instead, I grin, “You.”
			<br>
			<br>You laugh so sweetly when I swoop you
			<br>onto the edge of the kitchen island. 
			<br>
			<br>I lay you back and pull up your thighs,
			<br>until your shins are laying on my shoulders. 
			<br>
			<br>You’re still smiling
			<br>at the sweep of my tongue.
			<br>“Ah, love you.”
			<br>I hum in response, which makes you
			<br>arch your back. 
			<br>And choke on a moan.
			<br>
			<br>And then I hum the whole symphony for you,
			<br>and you sure like to put on a show,
			<br>but you bury you hands
			<br>deep in my hair,
			<br>just stroking through them. 
			<br>
			<br>Your feet try to bring me closer, 
			<br>but my hands just tickle them
			<br>to hear your intoxicating laugh.
			<br>
			<br>And then my hand joins my tongue
			<br>and you let out soft breaths,
			<br>wordlessly saying you are close.
			<br>
			<br>This time I’ll make it easy,
			<br>it’s not the time to play with you.
			<br>
			<br>You are as endearing as they come 
			<br>and I work my finger
			<br>over that lovely spot
			<br>that makes you see stars 
			<br>and moan, as you do now.
			<br>
			<br>“Love you, too. 
			<br>Good?”
			<br>“I definitely liked that.”
			<br><div class="date">Last edit May 15<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="know">
			<h4>I know you</h4>
			and holding you up is not too hard.
			<br>You tell me it’s summer,
			<br>you’re not cold against the window.
			<br>
			<br>You have your oversized T-shirt on
			<br>And I am fully dressed for the meeting
			<br>except for the bowtie. 
			<br>
			<br>“Good,” I answer and grin,
			<br>as I hook your leg on my elbow
			<br>and hold you to it. 
			<br>
			<br>You laugh as I draw marks on your precious skin,
			<br>but then the laughter dies as I bite on your pristine neck.
			<br>
			<br>I love to mark you.
			<br>Girl, you love knowing whom you belong to.
			<br>
			<br>I know you will always come running to me.
			<br>
			<br>“Lower, lower,” you gasp out, 
			<br>not wanting your parents to know it
			<br>and yet yearning for everyone to see: 
			<br>you’re mine. 
			<br>
			<br>“Okay, kitten,” I chuckle
			<br>and move lower, biting hard on your collarbone.
			<br>You love the pain and let out a moan,
			<br>absolutely sinful and so lovely.
			<br>
			<br>I let my finger slip
			<br>past the tight little ring 
			<br>and slowly stroke the inside
			<br>to make you pant,
			<br>
			<br>before moving on to the main treat. 
			<br>
			<br>And then I hit it and go over
			<br>in slow, sure circles,
			<br>while the whole city is below us.
			<br>
			<br>The whole world can see me fucking you,
			<br>my girl.
			<br>Can see your pleasure 
			<br>and taste you whines as I do.
			<br>
			<br>While people and cars pass and Wi-Fi is crashing
			<br>in the coffee shop next door.
			<br>
			<br>And I am loving my beautiful darling.
			<br>
			<br>“They can all see you, should they look up.
			<br>But that’s what you want, isn’t it? 
			<br>You want attention.
			<br>For everyone to know you’re mine.
			<br>And mine only. 
			<br>For them to know only I can fuck
			<br>and love
			<br>and kiss you
			<br>and claim your perfectly tidy neck.”
			<br>
			<br>You come with a sob. 
			<br>
			<br>I lick your ecstasy from my fingers,
			<br>and your breath is shaking.
			<br>
			<br>“Sorry, dearest, I have to get to the meeting. 
			<br>You good?”
			<br>“Never better.”
			<br><div class="date">Last edit May 15<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="see">
			<h4>I see you</h4>
			wearing nothing but satin panties,
			<br>walking around the house and calling my name 
			<br>as I walk through the door.
			<br>
			<br>When I turn I stop and look.
			<br>
			<br>You have love in your bottomless eyes,
			<br>and mischief. 
			<br>
			<br>You’re a damn tease, babygirl, 
			<br>and you know it doesn’t end well. 
			<br>
			<br>You smile as I throw you against the wall
			<br>and as I reach down.
			<br>“That’s what you wanted, right?”
			<br>I growl into your neck.
			<br>“Oh, yes.”
			<br>
			<br>Your breath hitches when I crook my finger just right. 
			<br>You moan when I kneel and taste your pleasure. 
			<br>
			<br>I hook your knee up over my shoulder.
			<br>
			<br>And then you gasp as my hand connects 
			<br>with the cool skin on your thigh.
			<br>
			<br>You whisper, “More,” and close your eyes. 
			<br>“More what, baby?”
			<br>“More, please.” Another slap. 
			<br>Your skin aches, and yet
			<br>you have never felt more alive.
			<br>
			<br>You moan when I use my finger again, 
			<br>and never stop. 
			<br>They come one after the other.
			<br>
			<br>Before long, you’re in syrupy seizures,
			<br>and softly moaning my name. 
			<br>You collapse back onto the wall to catch your breath.
			<br>
			<br>“Good, love?” 
			<br>“The best.”
			<br><div class="date">Last edit May 15<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="feel">
			<h4>I feel you</h4>
			"More," you beg, "please."
			<br>I let you hang on for a while longer,
			<br>my lips lingering over your heart. 
			<br>"More of what, baby?"
			<br>"Touch me."
			<br>"I am." 
			<br>
			<br>You let out a sigh of impatience
			<br>and struggle against the soft fabric
			<br>that keeps your wrists in place. 
			<br>
			<br>Lovely black silk 
			<br>is a nice contrast to the skin
			<br>of your face. 
			<br>
			<br>It's a shame I can't see your eyes. 
			<br>
			<br>"Kiss me." 
			<br>"Where?"
			<br>"On the lips," I know you want to hide,
			<br>but I'll have none of it. 
			<br>
			<br>I lick into your mouth as you breathe softly,
			<br>and pull your hair lightly 
			<br>just to make you whine, 
			<br>"Harder."
			<br>"Harder what?"
			<br>"Harder, please."
			<br>
			<br>I yank your head back,
			<br>reaching under your spine.
			<br>You arch your back 
			<br>and let out an "Ah!"
			<br>
			<br>I like it when you ask me. 
			<br>
			<br>"You want more, baby?"
			<br>"Yes, please, please." 
			<br>
			<br>I oblige and appease you,
			<br>caressing your inner thigh. 
			<br>
			<br>My feather light touches
			<br>make you flutter. 
			<br>
			<br>"Fuck me. Please," you breathe out. 
			<br>Goddesses, I do love teasing you. 
			<br>But that's enough for tonight. 
			<br>
			<br>"Whose are you?"
			<br>"Yours, only yours. Always. Please."
			<br>
			<br>I mark your clear skin
			<br>on the shoulder and let you go,
			<br>leaning down to your thighs. 
			<br>
			<br>I bite there and make you gasp. 
			<br>I suck until you're squirming. 
			<br>With that, I push aside your lace panties 
			<br>and sink my finger in your pleasure 
			<br>to find that sweet spot. 
			<br>
			<br>"So wet for me, babydoll. 
			<br>You want it badly. 
			<br>Want me to spank you?"
			<br>"Right after, ugh, you fuck me. Please." 
			<br>"Good girl."
			<br>
			<br>I circle your joy and settle on a rhythm. 
			<br>You let out soft sounds
			<br>and keen, rolling your hips. 
			<br>
			<br>"None of that."
			<br>"Sorry."
			<br>"Don't be." 
			<br>
			<br>I caress you harder,
			<br>you've always liked it rough
			<br>or tender. 
			<br>You chant my name. 
			<br>
			<br>"Come for me, darling."
			<br>
			<br>You break down with a whisper,
			<br>and smile when I untie your eyes,
			<br>as you come down from your high. 
			<br>
			<br>"Good?" 
			<br>"Amazing. Now spank me
			<br>so hard I feel it for a week."
			<br><div class="date">Last edit May 15<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="love">
			<h4>I love you</h4>
			I whisper into your ear, 
			<br>“And the inside of your thighs,” a kiss 
			<br>to your earlobe, 
			<br>“felt like home I had never known.”
			<br>
			<br>You love it when I read
			<br>my poetry to you.
			<br>
			<br>You love the words I say to you
			<br>while you reach down between my legs
			<br>and look up for permission. 
			<br>
			<br>I only nod, go ahead. 
			<br>I go on, “Sequence of our movements,”
			<br>only stopping momentarily, 
			<br>to feel your tongue 
			<br>move against me. 
			<br>
			<br>You moan as I pull your hair, 
			<br>while spilling sinful words like wine, 
			<br>you can never get enough, my love. 
			<br>
			<br>“...in this moment of ecstasy,” I sigh,
			<br>and pull you away, to roll us over 
			<br>and pin your wrists to the bed with mine,
			<br>grinning like a cat at the mouse. 
			<br>
			<br>You start off with a tiny moan
			<br>that promises good things.
			<br>
			<br>I never stop reciting, whispering
			<br>right into your ear,
			<br>kissing it with my lips
			<br>and my breath. 
			<br>
			<br>Your breath is shaking
			<br>as your body is. 
			<br>
			<br>You hardly feel it as I reach down 
			<br>and ease you into it,
			<br>finding your pace 
			<br>like a dove finds home. 
			<br>
			<br>I play with you,
			<br>biting your ear and never ever stopping,
			<br>saying all of my adoring love
			<br>that makes you so hot for me.
			<br>
			<br>You can never find yourself after my poems, 
			<br>but I love finding you in them.
			<br>
			<br>“You plead...” and you do, 
			<br>wordless and lost, you plead with your body,
			<br>canting your hips and moaning
			<br>some ethereal praise. 
			<br>
			<br>“I lead 
			<br>myself to home that is inside your hips,”
			<br>you want to come
			<br>and say so in your ragged breaths.
			<br>
			<br>“Not yet,” I whisper to you, letting my finger fly away 
			<br>to your thighs.
			<br>“No, please...”
			<br>“Not yet,” I bite into your earlobe, while
			<br>your heavy breathing slows down
			<br>and you almost sob with pleasure 
			<br>when I return my finger. 
			<br>
			<br>And yet when you come close to home again, 
			<br>I deny you. 
			<br>
			<br>You are obedient, 
			<br>but your breathing is heavy, 
			<br>filled with all the lost opportunities
			<br>for us to be together.
			<br>
			<br>But we’ll make up for it in time.
			<br>
			<br>“Please!”
			<br>
			<br>And I let my finger fall away again,
			<br>this time I know it will be the last.
			<br>
			<br>“Please...”
			<br>
			<br>You’re nearly breathless and I take pity,
			<br>whispering to you as I know turns you on.
			<br>
			<br>“My good girl, so good for me. 
			<br>All mine, all mine for me to taste, to fuck, to love.
			<br>My best, my everything, 
			<br>mine.
			<br>So good for me, babygirl.
			<br>Come for me.”
			<br>
			<br>You come quickly on my fingers, tired, 
			<br>but so satisfied. 
			<br>You’re boneless on the bed
			<br>and I stroke your hair and face
			<br>and tell you you did so well.
			<br>
			<br>“I love you. You good?”
			<br>“Mmph, love you, too.  
			<br>With you I’m always the best I could be.”
			<br><div class="date">Last edit May 16<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="got">
			<h4>I got you</h4>
			as soon as we walk into 
			<br>our apartment, you’re on me,
			<br>kissing me, pulling me close.
			<br>
			<br>You want me so much, my lovely.
			<br>
			<br>“Ah, you don’t know what, m-m,
			<br>you do to – ah! – me 
			<br>in that suit and bowtie.”
			<br>“Your dress looks so good on you. 
			<br>I bet it would look even better
			<br>on the floor
			<br>of your room.” 
			<br>
			<br>You laugh, sugar, and pull me 
			<br>into another kiss,
			<br>threading your fingers through
			<br>my hair. 
			<br>
			<br>The buzz of champagne
			<br>is not yet gone,
			<br>and we kiss sloppily,
			<br>our hands on each other.
			<br>
			<br>I ease up your tight dress,
			<br>stroking your skin
			<br>where my fingers will reach.
			<br>You hum, contentedly,
			<br>and let my tongue
			<br>collide with yours.
			<br>
			<br>My darling, I have been all over the world,
			<br>and yet I am to taste anything
			<br>as exquisite
			<br>as your pleasure.
			<br>
			<br>I kneel before you, 
			<br>your breath stutters.
			<br>
			<br>I hitch up your dress 
			<br>and move my hand
			<br>over the silk 
			<br>that hides my treasure,
			<br>when you are my life.
			<br>
			<br>I pull away the fabric
			<br>just enough for me to reach.
			<br>
			<br>“I got you. 
			<br>Knee on my shoulder.”
			<br>
			<br>You obey,
			<br>and soon I am in deep,
			<br>listening to your
			<br>lovely moans for more.
			<br>
			<br>I lick and lap at you,
			<br>you pull your bottom lip 
			<br>between your teeth.
			<br>
			<br>I sit back.
			<br>
			<br>“Don’t. Let me hear you.”
			<br>“Yes, just keep going.”
			<br>
			<br>I softly move my tongue 
			<br>against your favourite spot.
			<br>
			<br>You throw your head back
			<br>against the wall
			<br>and let me hear
			<br>the sweetest “ah!”
			<br>falling from your lips.
			<br>
			<br>I let you,
			<br>and you
			<br>come.
			<br>
			<br>You are still shuddering 
			<br>with the aftershocks,
			<br>your knees buckle. 
			<br>
			<br>You panties are soaking wet. 
			<br>I love how much you want me.
			<br>
			<br>“I got you. You good?”
			<br>“Will be when I’m in bed
			<br>and you fuck me
			<br>with the panties on.”
			<br><div class="date">Last edit May 16<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="miss">
			<h4>I miss you</h4>
			sneaking a cigarette out of my purse 
			<br>and smoking it on our balcony. 
			<br>
			<br>The only thing you’re wearing 
			<br>is your underwear,
			<br>laced with promise.
			<br>
			<br>I draw my arms around you 
			<br>and kiss your neck
			<br>that’s vibrating with laughter.
			<br>
			<br>The smoke suits you. 
			<br>
			<br>You put out the cigarette
			<br>and lean back against the window,
			<br>pulling me in for a kiss.
			<br>
			<br>I see you, clear as day,
			<br>in the fantasy 
			<br>that makes me reach down between my legs
			<br>and run a finger through the wetness.
			<br>
			<br>You smile a little dangerously,
			<br>but I have always liked my girl a little wicked
			<br>and somewhat ready to submit.
			<br>
			<br>You warm my heart
			<br>and reach down to my thighs
			<br>to hold me closer. 
			<br>
			<br>“You want me to take care of you tonight?”
			<br>you whisper.
			<br>“Yeah,” I whisper back.
			<br>
			<br>You hum and get on your knees for me,
			<br>easily finding your way 
			<br>to my harmony. 
			<br>
			<br>I hold myself up on the windowsill
			<br>while you’re teasing the lips
			<br>with your tongue. 
			<br>
			<br>I find my pleasure and reel in it.
			<br>
			<br>I see how eagerly you drink me in
			<br>and revel in it.
			<br>
			<br>My breath picks up the pace. 
			<br>
			<br>When I’m finished, I let myself lay here awhile
			<br>and think of your lovely hands
			<br>and wonderful smile.
			<br>
			<br>I hear a ring and pick up on the second one,
			<br>not willing my happiness away.
			<br>
			<br>“I miss you.”
			<br>“I miss you, too. You good?”
			<br>“Great now.”
			<br><div class="date">Last edit June 8<sup>th</sup> 2017</div>
		</div>
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>
</html>