<!DOCTYPE html>
<html>
<head>
	<title>De brevitate vitae</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
</head>
</head>
<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">May Mois</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>De brevitate vitae</h2>
		<ul>
			<li><a href="#bliss">reeling in thy bliss<div class="number">1</div></a></li>
			<li><a href="#shimmering">Once, shimmering<div class="number">2</div></a></li>
			<li><a href="#thighs">and the inside of your thighs<div class="number">3</div></a></li>
			<li><a href="#theology">Environmental Theology<div class="number">4</div></a></li>
		</ul>
		<div class="poem" id="bliss">
			<h3>reeling in thy bliss</h3>
			<!--If I believed in karma,
			<br>I might have said that nuzzling into her velvet skin made me realize what I have suffered for.
			<br>I don’t.-->
			<img src="../images/quote1.png" class="inside" alt="If I believed in karma, I might have said that nuzzling into her velvet skin made me realize what I have suffered for. I don’t.">
			<br>***
			<br>I plead for entry at her lips,
			<br>Starving for her like a dying one
			<br>for another breath. She only weeps
			<br>at my gloomy song, a caravan
			<br>of my thoughts falling into silence
			<br>as our tongues intertwine 
			<br>with our souls. No finesse,
			<br>just two beings holding on to signs 
			<br>of life in each other. Drowning 
			<br>in her sweetest noises, I reach 
			<br>down to her lips. She’s vowing
			<br>that this moment is eternity. Peach 
			<br>lipstick stains my teeth as we 
			<br>drink each other in. She tastes 
			<br>of chemical fruits, green tea
			<br>and slightly of the constricting lace 
			<br>of others’ expectations. Love
			<br>is too grandeur a thing. She sighs 
			<br>when she lets go of her suave
			<br>and artificial posture. Lies 
			<br>are not to be shared this very night. 
			<br>
			<br>I gently run my finger through 
			her<br> atlas fullness. Her light 
			<br>feathery touches die off too soon
			<br>as she closes her eyes. Her melody
			<br>fills the room and completes me.
			<br>
			<br>I whisper to her, “Carpe diem,”
			<br>and kiss the silk of her skin
			<br>everywhere I can reach. My tongue
			<br>is salty and a touch sour.
			<br>But to me it never feels wrong, 
			<br>she gets sweeter by the hour
			<br>(and more loved by the second).
			<br>
			<br>I sip her nectar and relish
			<br>in her ecstasy. She reckons
			<br><i>I love her pleasure,</i> to embellish, 
			<br><i>more than mine.</i> There is truth 
			<br>to her words. Directions
			<br>start  to mix. I try to sooth 
			<br>her mind with kisses of intention. 
			<br>
			<br>She fills my world with her own
			<br>smell and song, enchanting
			<br>and delicate. The hardest stone
			<br>resonates with desire. Inviting,
			<br>her love captivates me, grasps
			<br>in its hold. I am willing. 
			<br>Honey-thick seizures stop. I cast 
			<br>a glimpse at her bitten lip. Reeling
			<br>in my drunkenness on her I kiss it better.
			<br>
			<br>From believing and her, I have chosen the latter.
			<br>***
			<br>If I believed there was a deity, I would have said that kissing her was heaven and should I be sent to hell for loving her, I would have repeated every moment with her twice. 
			<br><div class="date">Last edit October 17<sup>th</sup> 2016</div>
		</div>
		<div class="poem" id="shimmering">
			Once, shimmering with pleasure of existence,
			<br>I poured myself a lovely glass of wine.
			<br>The weather, as it goes, was abysmal,
			<br>The worst, of course, was only yet to come. 
			<br>And as I drank the small degree of fire,
			<br>One ninth of rain and two fifths of love,
			<br>The world did all but shiver with desire,
			<br>Anticipation of and pleasure dire
			<br>That lends itself to innocently starved.
			<br>
			<br>And as I closed my eyes, she leaned in closer,
			<br>I opened them - she nearly ran away.
			<br>I smiled at her and let the sweet composer 
			<br>think through her song and how she wanted play. 
			<br>The hand... it held a glass and not a quill,
			<br>And heart just fluttered in its little cage.
			<br>I wanted not forget the loving skill, 
			<br>But rather let my wine breathe air and age
			<br>a while, and find delight in waiting,
			<br>in lust and sweet desire growing strong, 
			<br>before its peak is followed by a sating
			<br>view of my darling’s luscious skin of satin 
			<br>across my red silk sheets forever more.
			<br>
			<br>I sipped my love, not touching saccharine 
			<br>fruits from a golden vase upon the table.
			<br>Oh, let the passion simmer, sparkling wine
			<br>and summer are erasing all the labels.
			<br>And my mistake – why, grave mistake! that I
			<br>would have repeated each and every time
			<br>I found myself out of hellish cry – 
			<br>my dying wish: I looked into her eyes.
			<br>
			<br>That look of lust - and then her honeyed lips
			<br>were warm and plush against the poet’s song.
			<br>Her sky-grey eyes one second held a mist,
			<br>a moment later all the mist was gone. 
			<br>The passion that remained was as soft
			<br>and delicate as kindest bush of roses,
			<br>yet such was flame in kisses so oft 
			<br>that even writ in words it juxtaposes. 
			<br>And tenderer than velvet was her skin
			<br>that lovelier than wine felt on my tongue.
			<br>Oh, all the ways that I loved her... unseen,
			<br>unheard, undone, for me she was the world.
			<br>
			<br>I wrote the sweet adoring on her breast, 
			<br>She sang the most beautiful of songs, 
			<br>Melodious as I moved to the rest... 
			<br>A year and a day that night was long. 
			<br>
			<br>And as she lay on me, undone and spent, 
			<br>My ear caressing with her breathing sweet 
			<br>I felt my heart about to relent. 
			<br>I followed it to darkness and, content, 
			<br>I turned the street so you and I could meet.
			<br><div class="date">Last edit March 25<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="thighs">
			and the inside of your thighs felt like home 
			<br>I had never known. I break the dome 
			<br>by leaving a sadistic line of liquid 
			<br>that has you trembling. Sequence 
			<br>of our movements is the golden
			<br>ratio of life. We're intertwined. Folding
			<br>onto me, you let out a series of sighs, 
			<br>dotted with one, one, two, three and five, 
			<br>leading us both to eternity. We'll be
			<br>
			<br>forever young, my love, in this moment 
			<br>of ecstasy. For ever connected in the sonnet
			<br>of light and adoration. 
			<br>If this is sin, I'll be the devil 
			<br>of a fleeting vacation,
			<br>your happiness ephemeral, not mellow;
			<br>it has me shuddering. 
			<br>The difference staggering, 
			<br>your monologue stabs me below 
			<br>my breasts and inside my thighs. 
			<br>I lift my head and whisper, low, 
			<br>endearments that caress your life, 
			<br>your ears and skin. You're good to me,
			<br>my darling. The drag of my sini-
			<br>ster tongue leaves you undone. 
			<br>You talk, I sigh and reach down, to an unsung
			<br>pleasure of existence. You plead; 
			<br>I let you fall back and kiss my lips. 
			<br>The moment we have found: I lead 
			<br>myself to home that is inside your hips.
			<br><div class="date">Last edit May 15<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="theology">
			<h3>Environmental Theology</h3>
			we are made of stardust, 
			<br>and I love leaving galaxies on your neck,
			<br>centered around constellations of freckles 
			<br>on your skin.
			<br>you are the night that captures me 
			<br>in worship of the moon.
			<br>I worship on my knees,
			<br>your legs surrounding me
			<br>in a sweet embrace.
			<br>your moans are my hymns.
			<br>you say my name like a mantra,
			<br>like a prayer,
			<br>as I drink from your spring.
			<br>in a kenotic spree,
			<br>you shake
			<br>and give your all to me;
			<br>I drink you in, 
			<br>and as I kiss you,
			<br>I share your divinity on my tongue.
			<br>your lips are my salvation. 
			<br><div class="date">Last edit April 20<sup>th</sup> 2018</div>
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>